<div class="container">
    <h3> Are you sure that you want to delete user <strong>{{user.email}}</strong> and all of his ads?</h3>
    <form class="form-horizontal" method="POST" action="/user/user-delete/{{user.id}}">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    <br>

    <table class="table table-responsive table-hover table-bordered">
        <thead>
        <tr>
            <th>Title</th>
            <th>Comments</th>
            <th>Category</th>
            <th>Town</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {{#each ads}}
            <tr>
            <tr>
                <td><a href="/ad/details/{{id}}">{{title}}</a></td>
                <td><span class="badge">{{comments.length}}</span></td>
                <td><a href="/admin/category-edit/{{category.id}}">{{category.name}}</a></td>
                <td><a href="/admin/town-edit/{{town.id}}">{{town.name}}</a></td>
                <td>
                    <a href="/ad/edit/{{id}}">
                        <button type="submit" class="btn btn-primary btn-xs">Edit</button>
                    </a>
                    <a href="/ad/delete/{{id}}">
                        <button type="submit" class="btn btn-danger btn-xs">Delete</button>
                    </a>
                </td>
            </tr>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>


