<div class="container body-content span=8 offset=2">
    <div class="well">
        <form class="form-horizontal" method="POST" action="/ad/edit/{{ad.id}}">
            <fieldset>
                <legend>Edit Ad</legend>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="adTitle">Title</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="adTitle" placeholder="Ad Title" value="{{ad.title}}" name="title" required >
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="adPrice">Price</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="adPrice" placeholder="Ad Price" value="{{ad.price}}" name="price" required >
                    </div>
                </div>

                <div class="form-group">
                    <label for="select" class="col-sm-4 control-label">Category</label>
                    <div class="col-sm-4">
                        <select class="form-control" id="adCategory" name="category" disabled>
                            <option>{{ad.category.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="select" class="col-sm-4 control-label">Town</label>
                    <div class="col-sm-4">
                        <select class="form-control" id="adTown" name="town" disabled>
                            <option>{{ad.town.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="adPhone">Phone</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="adPhone" placeholder="Ad Phone" value="{{ad.phone}}" name="phone" required >
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="adContent">Content</label>
                    <div class="col-sm-6">
                        <textarea class="form-control" id="articleContent" rows="5" name="content" required>{{ad.content}}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <a href="/" class="btn btn-default">Cancel</a>

                        <button type="submit" href="/ad/edit/{{ad.id}}" class="btn btn-success">Edit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>